

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

h1 {
	font-family: georgia;
	font-size: 34px;
	text-transform: uppercase;
	font-weight: bolder;
	padding-left: 170px;
	padding-top: 20px;
}

h2 { 
	font-family: georgia;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: medium;
	text-align: center;
}

h3 {
	font-family: georgia;
	font-size: 16px;
	text-transform: capitalize;
	font-style: italic;
	font-weight: medium;
	text-align: center;
}

#subinfo1 {
	margin: 0 auto;
	position: relative;
	vertical-align: baseline;
	text-align: justify;
	display: inline-block;
	float: left;
}

#subinfo2 {
	margin: 0 auto;
	position: relative;
	vertical-align: baseline;
	text-align: justify;
	display: block;
	width: 200px;
}

#ingredients {
	font-family: georgia;
	font-size: 14px;
	text-transform: capitalize;
	font-style: italic;
}

#directions {
	font-family: georgia;
	font-size: 12px;
	text-transform: capitalize;
	font-style: normal;
}

ol {
	margin: 0 auto;
	width: 700px;
	text-align: justify;
}

li {
	float: left;
	margin: 0 auto;
	padding: 7px;
	font-family: georgia;
	font-size: 14px;
}







