

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET - Start of Your CSS*/

body {
	width: 1500px;
	margin: 0 auto;
	position: relative;
	vertical-align: baseline;
	font: inherit;
	border: 0;
	padding: 0;
}

#site-header {
position: relative;
height: 100px;
background-color: #ecf3d2;
display: block;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
}

#site-header h1 {
position: absolute;
width: 250px;
height: 88px;
background-color: #ecf3d2;
left: 5px;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
margin-top: 1px;
}

#site-header a img {
width: 220px;
height: 88px;
margin-left: 402px;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
padding-top: 12px;
}

#top-nav a {
text-decoration: none;
font-size: 10px;
color: #754911;
font-family: helvetica;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
font-family: helvetica;
font-size: 8px;
}

#top-nav {
position: absolute;
right: 380px;
width: 150px;
height: 20px;
background-color: #ecf3d2;
display: block;
padding-top: 3px;
font-family: helvetica;
font-size: 8px;
}

nav #main-menu {
position: absolute;
left: 405px;
display: block;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
width: 481px;
height: 25px;
font: helvetica;
}

#main-menu {
position: absolute;
left: 405px;
display: block;
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
}

#main-menu li {
float: left;
display: block;
padding: 3px;
margin-right: 10px;
background-color: #754911;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
font-family: helvetica;
font-size: smaller;
margin-top: 2px;
}

#main-menu li a {
text-decoration: none;
color: white;
font-family: helvetica;
text-transform: uppercase;
font-weight: bolder;
font-size: 12px;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
}

div {
	display: block;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
}

#menu-wrapper {
position: relative;
height: 25px;
background-color: #754911;
text-decoration: none;
display: block;
margin: 0;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
}

#page {
position: absolute;
top: 130px;
left: 400px;
float: left;
width: 26%;
background-color: white;
margin: 20px 7px;
padding: 2px;
display: block;
border: 0;
vertical-align: baseline;
}

#page h1 {
font-weight: bolder;
font-size: 28px;
text-transform: uppercase;
color: #754911;
display: block;
border: 0;
vertical-align: baseline;
font-family: helvetica;
padding-top: 18px;
}

#page h2 {
text-transform: uppercase;
margin-bottom: 5px;
margin-top: 8px;
color: #754911;
display: block;
border: 0;
font-size: 15px;
vertical-align: baseline;
font-family: helvetica;
font-weight: bold;
}

p {
margin-bottom: 5px;
margin-top: 8px;
color: black;
display: block;
border: 0;
font-size: 10px;
vertical-align: baseline;
font-family: helvetica;
line-height: 1.5;
}

#sidebar {
float: right;
width: 30%;
margin-top: 70px;
padding-bottom: 50px;
background-color: white;
color: #754911;
margin-right: 350px;
display: block;
margin: 0;
padding-top: 50px;
border: 0;
font-size: 100%;
vertical-align: baseline;
}

#sidebar h1 {
font-family: helvetica;
font-weight: bold;
font-size: 15px;
text-transform: uppercase;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
}

#sidebar a img {
width: 200px;
height: auto;
}

#sidebar ul,li {
font-family: helvetica;
font-size: 10px;
color: black;
list-style: none;
vertical-align: baseline;
}

#sidebar li {
display: block;
padding: 0px;
margin: 3px 0px 3px 0px;
}

#sidebar li a {
text-decoration: none;
font-family: helvetica;
font-weight: bolder;
font-size: 10px;
color: #754911;
}

#content-wrapper {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
vertical-align: baseline;
display: block;
}

#foot-wrapper {
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
display: block;
}

#site-footer {
clear: both;
position: relative;
height: 200px;
top:120px;
background-color: #885c2f;
display: block;
margin: 0;
padding-top: 10px;
border: 0;
font-size: 100%;
vertical-align: baseline;
}

#footer-contact {
position: absolute;
float: left;
width: 25%;
font-family: helvetica;
color: white;
font-size: 10px;
margin-top: 30px;
line-height: 150%;
margin-left: 410px;
display: block;
padding: 0;
border: 0;
vertical-align: baseline;
}

#footer-contact h1 {
font-size: 15px;
text-transform: uppercase;
margin-top: 8px;
margin-bottom: 8px;
color: #cdc2aa;
margin: 0;
display: block;
padding: 0;
border: 0;
vertical-align: baseline;
}

#site-footer p {
margin-bottom: 5px;
margin-top: 8px;
color: white;
display: block;
border: 0;
font-size: 10px;
vertical-align: baseline;
font-family: helvetica;
line-height: 1.5;
width: 25%;
}

#footer-follow {
float: right;
margin-right: 28px;
margin-top: 30px;
display: block;
padding: 0;
border: 0;
vertical-align: baseline;
}

#footer-follow h1 {
font-weight: bolder;
font-size: 15px;
text-transform: uppercase;
margin-bottom: 8px;
color: #cdc2aa;
margin-right: 300px;
font-family: helvetica;
display: block;
padding: 0;
border: 0;
vertical-align: baseline;
margin-top: -20px;
}

ul, li {
	display: inline-block;
	vertical-align: baseline;
}

ul, li img {
	vertical-align: baseline;
	border-left: 300px;
}